<template>
  <v-container class="rounded">
    <v-row
      ><v-col
        style="
          border: 2px dotted #bbb;
          border-width: 2px;
          border-style: dotted;
          border-color: #bbb;
          border-radius: 10px;
        "
      >
        <v-sheet
          color="white"
          flat
          width="100%"
          min-height="100px"
          height="100%"
          @drop.prevent="addDropFile"
          @dragover.prevent
          @click="openDialog"
          class="d-flex justify-center align-center"
        >
          <v-row v-if="memoryurls && memoryurls.length > 0" justify="center">
            <v-col cols="12" class="caption d-flex justify-center"
              >Uploading ...</v-col
            >
            <v-col
              v-for="(url, index) in memoryurls"
              :key="`up-` + index"
              cols="auto"
            >
              <v-img
                width="90"
                height="60"
                :src="url"
                :style="{ opacity: 0.3 }"
                class="rounded-xl ma-0 pa-0"
              /> </v-col
          ></v-row>
          <v-row v-else justify-center>
            <v-col
              cols="12"
              class="d-flex justify-center align-center grey--text"
              >{{ "Drag & drop file here or click to upload" }}</v-col
            ></v-row
          >
        </v-sheet>

        <v-file-input
          v-show="false"
          ref="up"
          v-model="ffiles"
          placeholder="Upload your documents"
          label="File input"
          :multiple="true"
          prepend-icon="mdi-paperclip"
          accept="image/jpeg"
        >
          <template v-slot:selection="{ text }">
            <v-chip small label color="primary">
              {{ text }}
            </v-chip>
          </template>
        </v-file-input>
      </v-col></v-row
    >

    <v-row v-show="status"
      ><v-col cols="12"
        ><v-alert
          v-model="alert"
          border="left"
          close-text="Close Alert"
          color="deep-purple accent-4"
          dark
          dismissible
        >
          {{ status }}
        </v-alert></v-col
      ></v-row
    >
  </v-container>
</template>

<script>
import gql from "graphql-tag";

export default {
  components: {
    //    VueFileAgent,
  },
  props: ["storage", "upload_limit", "label", "limit"],
  data: () => ({
    status: null,
    alert: false,
    progress: null,
    fileRecords: [],
    ffiles: [],
    files: [],
    filesCounter: 0,
    items: null,
    imagePath: process.env.NUXT_ENV_IMAGE_URL,
  }),

  computed: {
    options() {
      return {
        upload_limit: this.upload_limit,
        storage: this.storage,
        label: this.label,
        user: this.label,
        api: this.$cluster.services.file.api,
        files_limit: 10,
      };
    },

    memoryurls() {
      return this.ffiles
        .map((file) => {
          return URL.createObjectURL(file);
        })
        .slice(0, 10);
    },
    /*
    imagesReady() {
      if (this.files) {
        const len = this.files.filter((file) => {
          console.log("[x] file", file.saved);
          return !file.saved;
        });
        console.log("[x] total", len.length, len.length == 0);
        return len.length == 0;
      } else {
        return true;
      }
    },
    */
  },
  methods: {
    addDropFile(e) {
      this.ffiles = Array.from(e.dataTransfer.files);
    },
    /*
    async fileDelete(file) {
      file.deleting = true;
      const resp = await this.$apollo.mutate({
        mutation: gql`
          mutation MyMutation($_eq: Int = 0) {
            delete_files(where: { id: { _eq: $_eq } }) {
              affected_rows
            }
          }
        `,
        variables: {
          _eq: file.id,
        },
      });
      //      console.log("delete", resp);
      this.$apollo.queries.files.refetch();
    },
    */
    // -------------------------------------- UPLOAD FILE --------------------------------------------------
    async fileCreate(formData) {
      try {
        let resp = await this.$axios.post(
          this.$cluster.services.file.api + "create",
          formData
        );
        return resp;
        //        const { files } = resp.data;
        /*
        resp = await this.$apollo.mutate({
          mutation: gql`
            mutation MyMutation($objects: [files_insert_input!]!) {
              insert_files(objects: $objects) {
                returning {
                  id
                }
              }
            }
          `,
          variables: {
            objects: files.map((f) => {
              return {
                parent_uuid: this.parent_uuid,
                uuid: f.uuid,
                ext: f.ext,
                type: f.type,
                storage: this.storage,
                user_id: this.$auth.user.data.id,
              };
            }),
          },
        });
        return files;
        */
      } catch (error) {
        console.log({ error });
        return error;
      }
    },
    openDialog() {
      this.$nextTick(function () {
        this.$refs.up.$refs.input.click();
      });
    },
  },
  watch: {
    // ------------------------------------------ WATCH
    async ffiles(newValue) {
      if (this.ffiles.length > 0) {
        let formData = new FormData();
        formData.append("storage", JSON.stringify(this.storage));
        for (
          let i = 0;
          i < (this.ffiles.length > 10 ? 10 : this.ffiles.length);
          i++
        ) {
          formData.append("files", this.ffiles[i]);
        }

        try {
          const resp = await this.fileCreate(formData);
        } catch (error) {
          this.status = error;
          this.alert = true;
        }

        this.ffiles = [];
        this.$emit("append");
        //console.log("response", resp.data.files);
        /*
this.$emit("append", resp.files);
        this.status = resp;
        this.alert = true;
        console.log("send file", resp);
        this.ffiles.shift();
        */
      } else {
        console.log("there are no files.");
      }
    },
  },
};
</script>
