<template>
  <v-card :disabled="$apollo.loading">
    <v-img
      :disabled="disabled"
      width="180"
      height="120"
      :alt="alt"
      :src="srchost + srcrel"
    >
      <v-row justify="end" class="pa-3">
        <v-menu offset-y open-on-hover>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              class="mx-2 mt-2"
              fab
              dark
              x-small
              color="orange"
            >
              <v-icon dark> mdi-menu </v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(item, index) in items" :key="index">
              <v-list-item-title
                ><a @click="actions(item.action)">{{
                  item.title
                }}</a></v-list-item-title
              >
            </v-list-item>
          </v-list>
        </v-menu>
      </v-row>

      <template v-slot:placeholder>
        <v-row class="fill-height ma-0" align="center" justify="center">
          <v-progress-circular
            indeterminate
            color="grey"
            class="mr-3 text-caption"
          ></v-progress-circular>
          Loading...
        </v-row>
      </template>
    </v-img>
  </v-card>
</template>

<script>
export default {
  props: ["srchost", "srcrel", "alt", "disabled"],
  data: () => ({
    items: [
      {
        title: "Delete",
        action: "delete",
      },
    ],
  }),
  methods: {
    async actions(command) {
      try {
        switch (command) {
          case "delete":
            let resp = await this.$axios.get(
              this.$cluster.services.file.api + "delete/" + this.srcrel
            );
            this.$emit("update");
            return resp.data || resp;
            break;
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>
