<template>
  <v-container class="rounded">
    <FilesExplorer
      :api="api"
      :parent_uuid="parent_uuid"
      :altprefix="altprefix"
      :altpostfix="altpostfix"
      :storage="storage"
      :limit="limit"
    />
  </v-container>
</template>

<script>
import gql from "graphql-tag";

async function asyncForEach(array, callback) {
  for (let index = 0; index < array.length; index++) {
    await callback(array[index], index, array);
  }
}

export default {
  props: [
    "storage",
    "limit",
    "label",
    "parent_uuid",
    "user",
    "altprefix",
    "altpostfix",
  ],
  data: () => ({
    progress: null,
    fileRecords: [],
    ffiles: [],
    filesCounter: 0,
    items: null,
    imagePath: process.env.NUXT_ENV_IMAGE_URL,
  }),
  mounted() {
    let that = this;
    this.items = [
      { title: "Edit" },
      { title: "View" },
      {
        title: "Remove",
        action: async function (file) {
          await that.deleteFile(file);
        },
      },
    ];
  },
  computed: {
    info() {
      return {
        storage: this.storage || "default",
        api: this.api,
        parent_uuid: this.parent_uuid || null,
        files: this.files,
      };
    },
    api() {
      const host = process.env.NUXT_ENV_MICROSERVICE_FILE_API;
      return {
        create: host + "/create",
        read: host + "/read",
        update: host + "/update",
        delete: host + "/delete",
      };
    },
    filesLimit() {
      return this.limit || 15;
    },
    filesCount() {
      return this.files ? this.files.length : 15;
    },
    urls() {
      return this.ffiles.map((file) => {
        return this.Preview_image(file);
      });
    },
    imagesReady() {
      if (this.files) {
        const len = this.files.filter((file) => {
          console.log("[x] file", file.saved);
          return !file.saved;
        });
        console.log("[x] total", len.length, len.length == 0);
        return len.length == 0;
      } else {
        return true;
      }
    },
  },
  methods: {
    refreshImage(e) {
      //console.log("refreshImage", e);
    },
    Preview_image(image) {
      return URL.createObjectURL(image);
    },
    addDropFile(e) {
      this.ffiles = Array.from(e.dataTransfer.files);
    },
    async fileDelete(file) {
      file.deleting = true;
      const resp = await this.$apollo.mutate({
        mutation: gql`
          mutation MyMutation($_eq: Int = 0) {
            delete_files(where: { id: { _eq: $_eq } }) {
              affected_rows
            }
          }
        `,
        variables: {
          _eq: file.id,
        },
      });
      //      console.log("delete", resp);
      this.$apollo.queries.files.refetch();
    },
    async fileCreate(formData) {
      try {
        let resp = await this.$axios.post(this.api.create, formData);
        const { files } = resp;
        this.$apollo.queries.files.refetch();
        return files;
      } catch (error) {
        console.log({ error });
        return error;
      }
    },
    upload() {
      this.$nextTick(function () {
        //console.log(this.$refs.up.$refs.input.click());
        this.$refs.up.$refs.input.click();
      });
    },
  },
  watch: {
    // ------------------------------------------ WATCH
    filesCounter(newValue) {
      //console.log("counter", newValue);
      if (newValue == 0) this.ffiles = [];
    },

    async ffiles(newValue) {
      if (this.ffiles.length > 0) {
        let formData = new FormData();
        let file = this.ffiles[0];
        formData.append("files", file, file.name);
        formData.append(
          "file",
          JSON.stringify({
            uuid: this.uuid,
            storage: this.storage,
          })
        );
        const resp = await this.uploadFile(formData);
        console.log("send file", file, resp);
        this.ffiles.shift();
      } else {
        console.log("there are no files.");
      }
    },
  },
};
</script>
