<template>
  <v-container>
    <v-row align-content="center" justify="center" class="rounded">
      <v-col v-for="(file, index) in files" :key="`img-` + index" cols="auto">
        <FilesImageCard
          :srcrel="`${file.user_id}/${file.id}.webp`"
          :srchost="`${$cluster.services.file.api}read/`"
          @update="$apollo.queries.files.refetch()"
        />
      </v-col>
    </v-row>

    <v-row v-if="files && files.length < limit"
      ><v-col cols="12">
        <FilesUploader
          label="FilesUploader"
          :storage="storage"
          @append="$apollo.queries.files.refetch()"
        /> </v-col
    ></v-row>
  </v-container>
</template>

<script>
import gql from "graphql-tag";

export default {
  props: ["storage", "limit"],
  data: () => ({}),
  async mounted() {},
  apollo: {
    files: {
      query: gql`
        query MyQuery($_contains: jsonb) {
          files(
            where: {
              is_saved: { _eq: true }
              storage: { _contains: $_contains }
            }
          ) {
            id
            user_id
            storage
          }
        }
      `,
      variables() {
        return {
          _contains: {
            ...this.storage,
          },
        };
      },
    },
  },
};
</script>
