<template>
  <v-img v-bind="$attrs" v-on="$listeners" :src="srchost + srcrel">
    <slot />
  </v-img>
</template>

<script>
import gql from "graphql-tag";

export default {
  props: ["storage"],
  data: () => ({}),
  computed: {
    file() {
      return this.files?.[0];
    },
    srcrel() {
      return `${this.file?.user_id}/${this.file?.id}.webp`;
    },
    srchost() {
      return `${this.$cluster.services.file.api}read/`;
    },
  },
  apollo: {
    files: {
      query: gql`
        query MyQuery($_contains: jsonb) {
          files(
            where: {
              is_saved: { _eq: true }
              storage: { _contains: $_contains }
            }
          ) {
            id
            user_id
            storage
          }
        }
      `,
      variables() {
        return {
          _contains: {
            ...this.storage,
          },
        };
      },
    },
  },
};
</script>
