<template>
  <v-dialog
    v-model="dialog"
    persistent
    :max-width="small ? '480px' : '960px'"
    transition="dialog-top-transition"
  >
    <template v-slot:activator="{ on, attrs }">
      <div v-if="$auth.user">
        <v-menu
          v-model="menu"
          :close-on-content-click="false"
          :nudge-width="200"
          offset-x
        >
          <template v-slot:activator="{ on, attrs }">
            <v-icon v-if="!src" size="24" color="pink" class="pr-3"
              >mdi-account</v-icon
            >
            <v-avatar v-else></v-avatar>
            <v-btn text dark v-bind="attrs" v-on="on">
              {{ $auth.user ? $auth.user.data.name : "Account" }}
            </v-btn>
          </template>

          <v-card>
            <v-list>
              <v-list-item>
                <v-list-item-avatar>
                  <img
                    v-if="src"
                    :src="src"
                    :alt="$auth.user ? $auth.user.data.name : 'User'"
                  />
                  <v-icon v-else size="36" color="pink" class="pr-3"
                    >mdi-account</v-icon
                  >
                </v-list-item-avatar>
                <nuxt-link :to="href || '/'">
                  <v-list-item-content>
                    <v-list-item-title>{{
                      $auth.user ? $auth.user.data.name : "Account"
                    }}</v-list-item-title>

                    <v-list-item-subtitle>{{
                      $auth.user && $auth.user.data.is_sa && "Administrator"
                    }}</v-list-item-subtitle>
                  </v-list-item-content>
                </nuxt-link>
              </v-list-item>
            </v-list>

            <v-divider></v-divider>

            <v-list>
              <v-list-item>
                <v-list-item-action>
                  <v-switch v-model="message" color="purple"></v-switch>
                </v-list-item-action>
                <v-list-item-title>Enable messages</v-list-item-title>
              </v-list-item>
            </v-list>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn text @click="menu = false"> Close </v-btn>
              <v-btn
                @click="
                  $auth.logout();
                  menu = false;
                "
                color="primary"
                text
              >
                Logout
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </div>
      <div v-else-if="show != ''">
        <v-btn text dark v-bind="attrs" v-on="on">
          <v-icon size="24" color="pink" class="pr-3">mdi-account</v-icon>
          <span color="text--pink lighten-3">Authorization</span>
        </v-btn>
      </div> </template
    ><v-card class="rounded">
      <v-card-title :class="'indigo'">
        <v-container
          ><v-row align-content="center" justify="center"
            ><v-col cols="10"
              ><span class="headline">{{ autoTitle }}</span></v-col
            ><v-col cols="2" class="d-flex justify-end"
              ><v-btn icon @click="dialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn></v-col
            ></v-row
          ></v-container
        >
      </v-card-title>
      <v-card-text v-if="!$auth.user" class="white">
        <div v-if="!small">
          <v-tabs v-model="tab" grow>
            <v-tab> Login </v-tab>
            <v-tab> Register </v-tab>
            <v-tab> Recover password </v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item>
              <v-container
                ><v-row align-content="center" justify="center">
                  <v-col cols="6">
                    <AuthLogin
                      v-model="user"
                      :busy="busy"
                      @dialog="dialog = false"
                      @onLogin="userLogin"
                      @onRecover="userRecover"
                  /></v-col>
                  <v-col cols="6"
                    ><AuthSocial :busy="busy" :small="small" /></v-col></v-row
              ></v-container>
            </v-tab-item>
            <v-tab-item
              ><AuthRegister v-model="user" :busy="busy" @register="register" />
            </v-tab-item>
            <v-tab-item v-if="recover_mode"
              ><AuthRegister
                v-model="user"
                :busy="busy"
                @register="register"
                @userNewPassword="userNewPassword"
                :recover="recover_mode"
              />
            </v-tab-item>
          </v-tabs-items>
        </div>
        <div v-else-if="loginOnly === ''">
          <AuthLogin
            v-model="user"
            :busy="busy"
            @dialog="dialog = false"
            @onLogin="userLogin"
            @onRecover="userRecover"
          />
        </div>
        <div v-else-if="registerOnly === ''">
          <AuthRegister
            v-model="user"
            :busy="busy"
            @register="register"
            @userNewPassword="userNewPassword"
            :recover="recover_mode"
            :small="small && ''"
          />
        </div>

        <v-alert v-model="message.status" dismissible :type="message.type">{{
          message.text
        }}</v-alert>
      </v-card-text>

      <v-card-text v-if="$auth.user" class="white text-h6">
        You are loged in as {{ $auth.user.data.name }}
      </v-card-text>
      <v-card-actions v-if="$auth.user">
        <v-btn color="blue darken-1" dark @click="$auth.logout()">
          Logout
        </v-btn>
      </v-card-actions>
      <v-card class="ma-1 grey--text lighten-4">
        <small
          >Authentication server:
          <strong>{{
            $cluster.services.auth.api || "not availavle"
          }}</strong></small
        ></v-card
      >
      <v-overlay :absolute="true" :value="busy" color="white">
        <v-progress-circular
          indeterminate
          size="64"
          color="orange"
        ></v-progress-circular>
      </v-overlay>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: [
    "label",
    "title",
    "onLogin",
    "show",
    "href",
    "src",
    "loginOnly",
    "registerOnly",
  ],
  data: () => ({
    busy: false,
    recover_mode: false,
    menu: false,
    message: {
      status: false,
      type: "error",
      text: null,
    },
    error: null,
    alert: false,
    user: {
      name: "",
      email: "",
      password: "",
      password2: "",
    },
    tab: 0,
    dialog: false,
  }),
  mounted() {
    if (this.show == "") this.dialog = true;
    if (this.$route.query?.recover) {
      this.recover_mode = true;
      this.tab = 2;
      this.dialog = true;
    }
    //    console.log("PATH", this.$route.path, this.$route.query?.recover);
  },
  computed: {
    autoTitle() {
      const loginOnly = this.loginOnly === "";
      const registerOnly = this.registerOnly === "";
      return this.title
        ? this.title
        : loginOnly
        ? "Login"
        : registerOnly
        ? "Register"
        : "Authentication";
    },
    small() {
      return this.loginOnly === "" || this.registerOnly === "";
    },
    dark() {
      switch (this.variation) {
        case "violet":
          return true;
          break;

        default:
          return true;
          break;
      }
      return this.data;
    },
  },
  watch: {
    dialog(newValue) {
      if (!newValue) this.$emit("close");
    },
  },
  methods: {
    clearData() {
      this.user = {
        name: "",
        password: "",
        password2: "",
        email: "",
      };
    },
    setMessage(status = false, type = null, text = "") {
      this.message = {
        status,
        type,
        text,
      };
    },
    async register() {
      try {
        this.setMessage();
        const respRegister = await this.$axios.post(
          this.$cluster.services.auth.api + "register",
          {
            ...this.user,
            password2: undefined,
          }
        );
        alert(respRegister.data);
        if (respRegister.data == false) {
          this.setMessage(true, "error", "User already registered");
        } else if (respRegister.data == true) {
          alert("login");

          this.tab = 0;
          this.userLogin(true, "success", "Check e-mail for confirmation");
        }
      } catch (error) {
        console.log(error);
      }
    },
    async userLogin(...mes) {
      try {
        this.busy = true;

        this.setMessage(...mes);
        let resp = await this.$auth.loginWith("local", {
          data: { email: this.user.email, password: this.user.password },
        });

        if (!resp.data) {
          this.setMessage(true, "error", "Wrong e-mail or password");
        }
        this.busy = false;
      } catch (err) {
        this.setMessage(
          true,
          "error",
          `Wrong e-mail, password or other error.  (${err})`
        );
        this.busy = false;
      }
    },
    async userRecover(...mes) {
      try {
        this.busy = true;
        const respRegister = await this.$axios.post(
          this.$cluster.services.auth.api + "recover",
          {
            ...this.user,
          }
        );
        this.setMessage(true, "success", `Check your e-mail`);

        this.busy = false;
      } catch (err) {
        this.setMessage(true, "error", `(${err})`);

        this.busy = false;
      }
    },
    async userNewPassword(...mes) {
      try {
        this.busy = true;
        const respRegister = await this.$axios.post(
          this.$cluster.services.auth.api + "update",
          {
            ...this.user,
            hash: this.$route.query?.recover,
          }
        );
        this.setMessage(true, "success", `New password accepted`);

        this.busy = false;
      } catch (err) {
        this.setMessage(true, "error", `(${err})`);

        this.busy = false;
      }
    },
  },
};
</script>
