<template>
  <v-form ref="form" v-model="valid">
    <v-row class="ma-6"
      ><v-col :cols="small === '' ? 12 : 6">
        <v-text-field
          v-if="!recover"
          v-model="value.name"
          :rules="[rules.required, rules.min]"
          type="text"
          name="input-12-1"
          label="Enter your name"
          hint="At least 8 characters"
          counter
          outlined
        ></v-text-field></v-col
      ><v-col :cols="small === '' ? 12 : 6"
        ><v-text-field
          v-if="!recover"
          v-model="value.email"
          :rules="[rules.required, rules.min, rules.emailMatch]"
          type="email"
          name="input-11-1"
          label="Enter e-mail"
          hint="At least 8 characters"
          counter
          outlined
        ></v-text-field></v-col
      ><v-col :cols="small === '' ? 12 : 6"
        ><v-text-field
          v-model="value.password"
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="[rules.required, rules.min]"
          :type="show1 ? 'text' : 'password'"
          name="input-10-1"
          :label="recover ? 'Enter new password' : 'Enter password'"
          hint="At least 8 characters"
          counter
          @click:append="show1 = !show1"
          outlined
        ></v-text-field></v-col
      ><v-col :cols="small === '' ? 12 : 6">
        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="value.password2"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[
                rules.required,
                rules.min,
                rules.pwdMatch.call(
                  { password: value.password },
                  value.password2
                ),
              ]"
              :type="show1 ? 'text' : 'password'"
              name="input-10-1"
              label="Repeat password"
              hint="At least 8 characters"
              counter
              @click:append="show1 = !show1"
              outlined
              v-bind="attrs"
              v-on="on"
            />
          </template>
          <span>The passwords must match</span>
        </v-tooltip> </v-col
      ><v-col cols="12">
        <v-btn
          :disabled="!valid"
          color="blue darken-1"
          @click="recover ? $emit('userNewPassword') : $emit('register')"
        >
          {{ recover ? "Save new password" : "Register" }}
        </v-btn>
      </v-col></v-row
    ></v-form
  >
</template>

<script>
export default {
  props: ["label", "title", "value", "small", "recover"],
  data: () => ({
    valid: false,

    show1: false,
    show2: true,
    show3: false,
    show4: false,

    rules: {
      required: (value) => !!value || "Required.",
      min: (v) => v.length >= 8 || "Min 8 characters",
      emailMatch: (v) => v.indexOf("@") > 0 || `Enter valid e-mail`,
      pwdMatch(v) {
        return this.password == v ? true : "The passwords must match";
      },
    },
  }),
};
</script>
