<template>
  <v-row justify-center>
    <v-col cols="12">Auth via other services</v-col
    ><v-col :cols="small ? 'auto' : 12"
      ><v-btn disabled small
        ><v-icon left dark> mdi-github </v-icon> Github
      </v-btn></v-col
    ><v-col :cols="small ? 'auto' : 12"
      ><v-btn disabled small
        ><v-icon left dark> mdi-google </v-icon> Google
      </v-btn></v-col
    ><v-col :cols="small ? 'auto' : 12"
      ><v-btn disabled small
        ><v-icon left dark> mdi-facebook </v-icon> Facebook
      </v-btn></v-col
    ></v-row
  >
</template>

<script>
export default {
  props: ["label", "title", "small"],
  data: () => ({}),
};
</script>
