<template>
  <v-dialog v-model="dialog" width="700px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="red" dark v-bind="attrs" v-on="on">
        Cluster information
      </v-btn>
    </template>

    <v-card>
      <v-card-title class="headline grey lighten-2"> Cluster </v-card-title>

      <v-card-text>
        <v-row :class="color">
          <v-col cols="12">
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Microservice</th>
                    <th class="text-left">Port</th>
                    <th class="text-left">Ping (ms)</th>
                    <th class="text-left">Load</th>
                    <th class="text-left">Performance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item, i, index) in microservices"
                    :key="'a' + index"
                  >
                    <td>
                      <v-chip
                        :class="`ma-0 mp-0 ` + (getStatus(i) ? 'green' : 'red')"
                        >{{ i }}</v-chip
                      >
                    </td>
                    <td>{{ item.port }}</td>
                    <td>{{ (status[i] && status[i].ping) || "timeout" }}</td>
                    <td>
                      <div v-if="status[i] && status[i].response">
                        <v-progress-linear
                          v-model="status[i].loads"
                          height="25"
                        >
                          <strong>{{ Math.ceil(status[i].loads) }}%</strong>
                        </v-progress-linear>
                      </div>
                    </td>
                    <td>
                      <div v-if="status[i] && status[i].speed !== null">
                        <strong>{{ Math.ceil(status[i].speed / 1000) }}</strong>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-col>
        </v-row>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="dialog = false"> OK </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["name"],
  data: () => ({
    status: {},
    timer: null,
    dialog: false,
  }),
  methods: {
    getStatus(name) {
      return this.status?.[name]?.response || null;
    },
  },
  watch: {
    dialog(newValue) {
      if (newValue) {
        if (process.client) {
          const updater = function () {
            Object.entries(this.$cluster.services)
              .filter((ms) => {
                const is_microservice = ms[1].is_microservice === true;
                const is_current = ms[0] === "current";
                return !is_current && is_microservice;
              })
              .forEach(async (ms, i) => {
                let res;
                let start;
                let ping;
                try {
                  start = new Date();
                  res = (await this.$axios.get(ms[1].api + "test")).data;
                  ping = new Date() - start;
                } catch (error) {}
                this.$set(this.status, ms[0], {
                  num: i,
                  response: !!res,
                  ping,
                  loads: res?.loads[0] || null,
                  speed: res?.speed || null,
                });
              });
          };

          this.timer = setInterval(updater.bind(this), 5000);
        }
      } else {
        clearTimeout(this.timer);
      }
    },
  },
  computed: {
    microservices() {
      let res = {};
      Object.entries(this.$cluster.services).forEach((ms) => {
        if (ms[1].is_microservice === true) res[ms[0]] = ms[1];
      });
      return res;
    },
    color() {
      if (this.mscheck == null) return "grey lighten-3";
      if (this.mscheck) return "green lighten-3";
      return "red lighten-3";
    },
  },
};
</script>

