<template>
  <v-img
    color="blue"
    :style="{
      background: `linear-gradient(to bottom, rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.8) 100%), url('https://www.nucleustechnologies.com/blog/wp-content/uploads/2019/11/remove-VHD-from-virtual-machine.jpg') repeat;`,
      'background-size': 'cover',
    }"
  >
    <v-app-bar color="blue" dark>
      <v-toolbar-title>
        <strong>{{ $cluster.config.name }}</strong>
        microservice</v-toolbar-title
      >

      <v-spacer />
      <MsIndicator v-if="$auth.user" />
      <v-spacer />
      <AuthDialog />
    </v-app-bar>
    <div v-if="$auth.user && $auth.user.data.is_sa">
      <nuxt />
    </div>
  </v-img>
</template>

<script>
export default {
  data: () => ({
    about: true,
  }),
};
</script>
